.container
  .row
    %h1
      Printer
    .span8.offset2
      = form_tag search_path, class: 'form-inline' do
        = text_field_tag :code, '', class: 'span5'
        = submit_tag 'Display', class: 'btn span3'

