.main_index
  .container
    text-align: center
    h1
      margin: 3em auto
      font-size: 50px
      line-height: 2em
      color: #1D1C1B

.main_show
  h1, h2, h3, h4, h5, h6
    margin: 0px
    padding: 0px
    line-height: 1.0em
    letter-spacing: 0em
    color: #1D1C1B
  h1
    font-size: 240px

  h2
    font-size: 120px

  h3
    font-size: 60px


